@model IEnumerable<MVCApp.Models.Jugador>

@{
    ViewData["Title"] = "Jugadores";
    List<string> stateList = new List<string> { "Activo", "Cancelado", "Agente Libre", "Todos" };
}

<h1 class="mt-5">Jugadores</h1>

<div class="row justify-content-end mb-4">

    <a asp-action="Create" class="btn btn-primary mr-2">Añadir jugador</a>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ordenar por...
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        @foreach (string status in stateList)
        {
            @if (ViewBag.setActive == status)
            {
                <a asp-action="Index" asp-route-statusOrder=@status class="dropdown-item active ">@status</a>
            }
            else
            {
                <a asp-action="Index" asp-route-statusOrder=@status class="dropdown-item">@status</a>
            }
        }
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pasaporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pasaporte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipo.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.NombreEstado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
